body {
    font-family: 'Lucida Grande', Verdana, sans-serif;
}

main {
    width: 40rem;
    margin: 10rem auto;
    background-color: #484b6a;
    border-radius: 15px;
}

header {
    padding: 30px 70px 40px 70px;
    color: #fafafa;
    text-align: center;
    border-radius: 5px;
}

input {
    border: none;
    border-radius: 2px 0 0 2px;
    width: 70%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

h2 {
    margin: 0;
    margin-bottom: 2rem;
}

ul {
    padding: 30px;
    width: 60%;
    margin: 0 auto;
}

ul li {
    cursor: pointer;
    position: relative;
    list-style-type: none;
    border-radius: 4px;
    padding: 6px 6px 8px 10px;
    margin-bottom: 10px;
    background: #e4e5f1;
    font-size: 18px;
    transition: 0.2s;
}

ul li:nth-child(odd) {
    background: #d2d3db;
}

ul li:hover {
    background: #9394a5;
}

ul li.checked {
    background: #9394a5;
    color: #fafafa;
    text-decoration: line-through;
}

.addBtn {
    padding: 10px;
    width: 25%;
    background: #d2d3db;
    color: #555555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0 2px 2px 0;
    border: none;
}

.addBtn:hover {
    background-color: #9394a5;
    color: #d2d3db;
}

.theme-container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.theme-container:hover {
    opacity: 0.8;
}

.shadow-dark {
    background: linear-gradient(145deg, #23282c, #1e2125);
    box-shadow: 17px 17px 23px #1a1d20,
        -17px -17px 23px #282d32, inset 5px 5px 4px #1e2226,
        inset -5px -5px 4px #24282c;
}

.shadow-light {
    box-shadow: 7px 7px 15px -10px #bbcfda, -4px -4px 13px #ffffff,
        inset 7px 7px 3px rgba(209, 217, 230, 0.35),
        inset -11px -11px 3px rgba(255, 255, 255, 0.3)
}

@keyframes change {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.4);
    }
}

.change {
    animation-name: change;
    animation-duration: 1s;
    animation-direction: alternate;
}